#         ++ -------- ++
#      ++++ ------  ++++++
#    +++++ ------ +++++++++++
#   ++++++ ----- +++++++++++++
#    +++  ------ +++++++++++++
#  =----------- ++++++++++++  
#  + --------- +++++++++++ + ++
#  ++ -------- ++++++    ++ +++
#  ++++ =--- +++++  ++++++ +++
#    +++++++++++  ++++++ ++++
#     +++++++++++     +++++
#        ++++++++++++++++
#             ++++++

AHD_HOST=
AHD_URL=